@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}
:root{
    --bg-color:#191f36;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --main-color: #59B2F4;
}
html{
    font-size : 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}
.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}
.navbar a:hover,
.navbar a.active {
    color:var(--text-color) ;
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
span{
    color: var(--main-color);
}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-weight: 600;
    /* margin-right: 30%; */
    /* font-size: 40px; */
}
/* .home-img{
    margin-bottom: 100%;
    margin-left: 500px;
} */
.home-img img{
    
    
    width: 40vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 10px;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home-content p{
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;

}
.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}
.about-img img{
    width: 30vw;
    height: 650px;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content li{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/**/
.custom-text{
    /* color: #1a1919; */
    gap: 2rem;
}
@media (prefers-color-scheme: dark) {
    .custom-text {
        color: #d1d5db;
    }
}
.text-gray-700 {
    color: #4a5568; 
}
.dark .text-gray-400 {
    color: #cbd5e0; 
}


.services h2{
    margin-bottom: 5rem;
    font-size: 4rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    /* color: var(--bg-color); */
}
.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;

}
.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);

}
.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size: 2.0rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    background: var(--snd-bg-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3rem;

}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    
}
.portfolio-layer a i {
    font-size: 2rem;
    color: var(--snd-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 99 rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
.cnt{
    transition: .5 ease-in;
    transform: scale(1.02);
}
.contact-uml:hover{
    color: #cbd5e0;
}

.Ufooter{
    text-decoration: none; 
    /* list-style: none; */
    text-underline-offset: 2px;
    font-size: 3rem;
    /* gap: 2rem; */
}
.Ufooter:hover{
    /* text-decoration: underline; */
    color: #60a5fa;
}
.x-footer{
    width:100%;
    height: 400px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2d3748; 
    /* position: absolute; */
    /* padding-bottom: 1.25rem; */
    /* margin-top: 0.5rem; */
    /* margin-bottom: 45px; */
}
.x-footer ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    color: white;
}
.x-footer ul a{
    color: #fff;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
}
.footer-text{
    font-size: 1.8rem;
    /* margin-left: 28%; */
}
.footer-iconTop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;

}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}



.education h2,p{
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 30px; */
    gap: 5px;
    padding: 10px;
}
.education h2{
    font-size: 50px;
}
.education p{
    font-size: 25px;
}
.edu{
    display: flex;
    /* flex-wrap: nowrap; */
    padding-top: 20px ;
    gap: 20px;
    /* border-radius: 10px; */
    height:fit-content;
}
 .eduinfo{
    border: 5px solid var(--snd-bg-color);
    border-radius: 15px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 9px;
    /* width: 50%; */
    width: 100%;
    flex-direction: row;
    margin-top: 2.5rem;
    cursor: pointer;
    border-width: 2px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: var(--snd-bg-color);
    transition: .5s ease;
 }
 .eduinfo:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    /* box-shadow: 0 25px 50px -12px rgba(156, 163, 175, 0.25); */
}
.education:hover{
    transform: translateY(0);
}
.eduinfo img{
    width: 70%;
    height: 100%;
}
/* @media (min-width: 768px) {
    .edu{
        width: 50%;
    }
}
@media (min-width: 1024px)
 {
    .edu{
        width: 45%;
    }
    

} */
 .educate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
 }
 /* Responsive Design */
@media (min-width: 768px) {
  .edu {
    flex-direction: column;
    gap: 40px;
  }

  .eduinfo {
    flex-direction: row;
    height: 260px;
  }

  .edu-img {
    width: 40%;
  }

  .edu-text {
    width: 60%;
    padding: 30px;
  }

  .edu-text h1 {
    font-size: 2.2rem;
  }

  .edu-text .duration {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .edu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .eduinfo {
    flex-direction: row;
    /* height: 260px; */
    max-width: 45%;
  }

  .edu-img {
    width: 40%;
  }

  .edu-text {
    width: 60%;
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .edu {
    flex-direction: column;
    gap: 40px;
  }

  .eduinfo {
    flex-direction: row;
    height: 260px;
  }

  .edu-img {
    width: 40%;
  }

  .edu-text {
    width: 60%;
    padding: 30px;
  }

  .edu-text h1 {
    font-size: 2.2rem;
  }

  .edu-text .duration {
    font-size: 1.6rem;
  }
}

/* Optional: Add spacing below for better scrolling space */
.education {
  padding-bottom: 60px;
}
/* skills section */
 .zoom-out { 
    opacity: 0;
    transform: scale(0.9); 
  }
.c:hover{
    transform: scale(1.05); 
    transition-duration: 200ms;
    --tw-gradient-from: #3730a3; 
    background-image: linear-gradient(to top, var(--tw-gradient-stops)); 
}

.custom-container {
    width: 100%;
    height: 100%;
    display: flex; /* Enables flexbox layout */
    flex-wrap: wrap; /* Allows wrapping of child items */
    justify-content: center; /* Aligns child items to the center */
    gap: 3.5rem; /* Default gap between items (small screens) */
    margin-top: 1.25rem; /* Adds margin-top (mt-5 equivalent) */
    border: 2px solid var(--snd-bg-color); /* Adds a 2px border */
    border-radius: 1.0rem; /* Rounds corners (rounded-md equivalent) */
    padding-top: 1.5rem; /* Top padding (py-6 equivalent) */
    padding-bottom: 1.5rem; /* Bottom padding */
    background-color: var(--snd-bg-color)
    
    /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
    
  }
  
  @media (min-width: 768px) {
    .custom-container {
      gap: 1rem; /* Medium screens (md:gap-4 equivalent) */
    }
  }
  /*  */
  
  .dark .custom-container {
    border-color: #4b5563; /* Dark border color (dark:border-gray-600 equivalent) */
    background-color: transparent; /* Transparent background (dark:bg-transparent equivalent) */
    /* gap: 2rem; */
  }

 .custom-container:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
 } 
  .card-container {
    max-width: 140px;
    max-height: 130px;
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, #3730a3, rgba(55, 48, 163, 0)); /* Indigo-800 gradient */
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(59, 130, 246, 0.5); /* Blue shadow */
    background-color: #9ca3af; /* Gray-400 */
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    /* gap: 2rem; */
  }
  
  .card-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 6px rgba(147, 197, 253, 0.5); /* Blue-300 shadow */
    background-color: #4b5563; /* Gray-600 */
  }
  
  .aos-init {
    opacity: 0;
  }
  
  .aos-animate {
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  /* BREAKPOINT */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3%;
    }
    .services{
        padding: 7rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        padding: 2rem 3%;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content{
       order: 2; 
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column;
    }
    .about-img img{
        width: 90vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    .home-img img{
        width: 80vw;
        margin-top: 8rem;
    }
    .about-img img{
        width: 100vw;
        margin-top: 4rem;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;

    }
    .contact form .input-box input{
        width: 100%;
    }
}


/* RESPONSIVENESS */
@media screen and (max-width: 768px) {
  .custom-container {
    gap: 1.2rem;
    padding: 1.5rem;
  }

  .card-container {
    width: 120px;
    padding: 0.75rem;
  }

  .card-container h1 {
    font-size: 0.9rem;
  }

  .skill h1 {
    font-size: 2rem;
  }

  .skill h2 {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .custom-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .card-container {
    width: calc(50% - 1rem); /* 2 cards per row with gap */
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .card-container h1 {
    font-size: 0.8rem;
  }
}


/* Responsive styles */
@media (max-width: 768px) {
  .x-footer h1 {
    font-size: 2.5rem;
  }

  .Ufooter {
    font-size: 1rem;
  }

  .x-footer .social-icons a {
    font-size: 2.5rem;
  }

  .x-footer p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .x-footer h1 {
    font-size: 2rem;
  }

  .x-footer .social-icons {
    gap: 1rem;
  }

  .x-footer .social-icons a {
    font-size: 2rem;
  }

  .x-footer p {
    font-size: 0.9rem;
  }
}
/* Responsive Layout */
@media (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    justify-content: space-between;
  }

  form {
    width: 65%;
  }

  .contact-info {
    width: 30%;
  }

  .input-box {
    flex-direction: row;
    gap: 20px;
  }

  .input-box input {
    width: 100%;
  }

  textarea {
    margin-right: 0;
  }
}